body {
  font-family: Arial, sans-serif;
  background-color: #C5D3B4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #59788E; /* blu psicologico */
  color: white;
  padding: 30px;
  text-align: center;
}

/* Navigazione */
nav {
  background: #eaeaea;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Sezioni */
section {
  padding: 30px;
  max-width: 800px;
  margin: auto;
  background: white;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}


